[Unit]
After=default.target
Description=Python SKUD Service

[Service]
Restart=no
# Command to execute when the service is started
ExecStart=/usr/bin/python3 /home/alexd/Projects/Python/BlueProject/SKUD/service.py 

[Install]
# Make it accessible to other users
WantedBy = multi-user.target 